@media screen and (max-width: 800px) {

    .nav-items-1,
    .fc-icon-b {
        display: none;
    }

    .dropdown-menu {
        display: inline-block;
    }

    .nav-items-2,
    .dropdown-after {
        display: inline-block;
    }

    .fc-icon-a {
        display: flex;
        align-items: center;
    }

    .sandw {
        flex-wrap: wrap;
    }

    #h1-br {
        display: none;
    }

    .sandw-rgt img {
        width: clamp(80vw, 20vw, 80vw);
        height: clamp(30vw, 15vw, 80vw);
    }

    #sandw-h3 {
        font-size: clamp(1rem, 1vw, 1.5rem);
        color: #242424;
        margin-top: -10px;
        margin-bottom: 0px;
    }

    #ft-btn {
        font-size: clamp(0.6rem, 0.5vw, 1rem);
    }

    .footer-info {
        left: 36%;
        top: 17%;
    }

    #img-on-top {
        width: clamp(80vw, 15vw, 80vw);
        height: clamp(30vw, 15vw, 80vw);
        margin-bottom: -25px;
    }

    #img-on-bot {
        width: clamp(80vw, 80vw, 160vw);
        height: clamp(30vw, 15vw, 80vw);
        margin-top: -10px;
    }
}

@media screen and (max-width: 620px) {
    .sandw-rgt img {
        width: clamp(70vw, 20vw, 80vw);
        height: clamp(30vw, 15vw, 80vw);
    }

    .about-footer {
        font-size: clamp(0.4rem, 1vw, 1.5rem);
    }

    #ft-btn {
        font-size: clamp(0.5rem, 0.4vw, 0.6rem);
        margin-top: 20%;
    }

    .footer-info {
        left: 36%;
        top: 20%;
    }

    #img-on-top {
        width: clamp(70vw, 15vw, 80vw);
        height: clamp(30vw, 15vw, 80vw);
        margin-bottom: -25px;
    }

    #img-on-bot {
        width: clamp(70vw, 15vw, 80vw);
        height: clamp(30vw, 15vw, 80vw);
        margin-top: -10px;
    }

    .contact {
        flex-wrap: wrap;
    }

    .menu-item {
        width: 180px;
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    .product-1 img {
        border-radius: 10px;
        width: clamp(17vh, 3vw, 50vh);
    }

    .product-1 button {
        font-size: 0.6em;
        padding: 10px 50px;
    }

    #rstnt1 {
        box-shadow: 0px -1px 10px #2b2929;
    }

    .footer-info {
        left: 30%;
        top: 6%;
    }

    .l-page {
        margin-bottom: 10px;
    }

    .mid-cont {
        margin-top: -8px;
    }

    .sandw {
        margin: 20px 20px;
    }

    #sandw-h1 {
        font-size: clamp(1.5rem, 2vw, 6rem);
    }

    #sandw-h3 {
        font-size: clamp(0.7rem, 1vw, 1.5rem);
    }

    #img-on-top {
        width: clamp(80vw, 15vw, 80vw);
        height: clamp(30vw, 15vw, 80vw);
        margin-bottom: -25px;
    }

    #img-on-bot {
        width: clamp(80vw, 80vw, 160vw);
        height: clamp(30vw, 15vw, 80vw);
        margin-top: -10px;
    }

    .contact {
        flex-wrap: wrap;
    }

    .menu-item {
        width: 150px;
        text-align: center;
    }
}

@media screen and (max-width: 344px) {
    .sandw {
        overflow: hidden;
    }

    .product-1 img {
        border-radius: 10px;
        width: clamp(15vh, 3vw, 50vh);
    }

    .sandw-rgt img {
        width: clamp(60vw, 10vw, 80vw);
        height: clamp(30vw, 15vw, 80vw);
    }

    .footer-info {
        left: 30%;
        top: -8%;
    }

    .l-page {
        margin-bottom: 10px;
    }

    .mid-cont {
        margin-top: -8px;
    }

    #sandw-h1 {
        font-size: clamp(1.5rem, 2vw, 6rem);
    }

    #sandw-h3 {
        font-size: clamp(0.7rem, 1vw, 1.5rem);
    }

    #img-on-top {
        width: clamp(60vw, 15vw, 80vw);
        height: clamp(30vw, 15vw, 80vw);
        margin-bottom: -25px;
    }

    #img-on-bot {
        width: clamp(55vw, 15vw, 80vw);
        height: clamp(30vw, 15vw, 80vw);
        margin-top: -10px;
    }

    .product-1 button {
        border: none;
        padding: 7px 34px;
    }

    .rstnt1>img:first-child {
        width: clamp(30vh, 20vh, 50vh);
    }

    .contact {
        flex-wrap: wrap;

    }

    .menu-item {
        width: 100px;
        text-align: center;
    }
}